<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "com.nexosapp.ibonocomsumidor">

<name>IBono Consumidor</name>
<description>IBono Consumidor</description>
<author email="avelez@nexos-software.com.co" href="http://www.nexos-software.com.co">IBono Consumidor</author>
<icon src="icon.png" />
<content src="index.html" />

  <gap:platform name="ios" />
<gap:platform name="android" />

<!-- Core plugins -->
<gap:plugin name="org.apache.cordova.console" />
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.dialogs" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.network-information" />
<gap:plugin name="org.apache.cordova.splashscreen" />

<access origin="http://181.48.24.156:8183" />

  
</widget>

